.Container{
    width: 100vw;
    height: auto;
    background-color: aquamarine;
    display: flex;
}
.WrapperSidebar{
    height: 100vh;
    width: 200px;
    background-color: bisque;
    /* display: flex;
    position: fixed; */
}
/* .WrapperMain{

}
.search{

}
.WrapperBox{

}
.WrapperContent{

}
.WrapperFooter{

} */
/* .kotaksatu{
    width: 60%;
    height: 10%;
    background-color: violet;
}
.kotakdua{
    width: 60%;
    height: 10%;
    background-color: yellowgreen;
}
.kotaktiga{
    width: 60%;
    height: 10%;
    background-color: black;
}
.Profil{
    width: 80%;
    height: 10%;
    background-color: cadetblue;
} */
