*{
    margin: 0;
    box-sizing: border-box;
}

.Container{
    width: 100vw;
    height: auto;
    display: flex;
}
.WrapperSidebar{
    height: 100vh;
    width: 200px;
    background-color: teal;
    position: fixed;
    
}
.WrapperMain{
height:auto;
background-color:cornsilk;
width: 100%;
display: flex;
flex-direction: column;
padding: 4px;
}

.WrapperFooter{
 width: 100%;
 background-color: black;   
 height: 100px; 

}
.search{
    background-color: rgb(243, 82, 114);
    width: 100%;
    height: 60px;

}
.WrapperBox{
    background-color: burlywood;
    width: 100%;
    height: 200px;
    margin-top: 15px;
}
.WrapperContent{
    margin-top: 15px;
    background-color:crimson;
    width: 100%;
    height: 200px;
    margin-bottom: 100px;

}
 
/* .kotaksatu{
    width: 60%;
    height: 10%;
    background-color: violet;
}
.kotakdua{
    width: 60%;
    height: 10%;
    background-color: yellowgreen;
}
.kotaktiga{
    width: 60%;
    height: 10%;
    background-color: black;
}
.Profil{
    width: 80%;
    height: 10%;
    background-color: cadetblue;
} */
