*{
    margin: 0;
    box-sizing: border-box;
}

.Container{
    width: 100vw;
    height: auto;
    display: flex;
}
.WrapperSidebar{
    height: 100vh;
    width: 200px;
    background-color: teal;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.WrapperMain{
height:auto;
background-color:cornsilk;
width: 100%;
display: flex;
flex-direction: column;
padding: 4px;
}

.WrapperFooter{
 width: 100%;
 background-color: black;   
 height: 100px; 

}
.search{
    background-color: rgb(243, 82, 114);
    width: 100%;
    height: 60px;

}
.WrapperBox{
    background-color: burlywood;
    width: 100%;
    height: 200px;
    margin-top: 15px;
}
.WrapperContent{
    margin-top: 15px;
    background-color:crimson;
    width: 100%;
    height: 200px;
    margin-bottom: 100px;

}
 
.BoxSidebar1{
    width: 60%;
    height: 10%;
    background-color: cornsilk;
    border-radius: 10px;
}
.BoxSidebar2{
    width: 60%;
    height: 10%;
    background-color: cornsilk;
    border-radius: 10px;
}
.BoxSidebar3{
    width: 60%;
    height: 10%;
    background-color: cornsilk;
    border-radius: 10px;
}
.Profil{
    width: 70%;
    height: 10%;
    background-color: cornsilk;
    border-radius: 10px;
}
